Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('ratings.csv')
def classif (rating):
    if rating <= 2:
        return 'Низкий рейтинг'
    elif rating > 2 and rating <= 4:
        return 'Средний рейтинг'
    elif rating >= 4.5:
        return 'Высокий рейтинг'
df['class'] = df['rating'].apply(classif)
df.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  Средний рейтинг
1       1        3     4.0  964981247  Средний рейтинг
2       1        6     4.0  964982224  Средний рейтинг
3       1       47     5.0  964983815  Высокий рейтинг
4       1       50     5.0  964982931  Высокий рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

In [12]:
df_key = pd.read_csv('keywords.csv')
def geo_region(city):
    if 'москва' in city or 'тула' in city or 'ярославль' in city:
        return 'Центр'
    elif 'петербург' in city or  'псков' in city or 'мурманск' in city:
        return 'Северо-Запад'
    elif 'владивосток' in city or  'сахалин' in city or  'хабаровск' in city:
        return 'Дальний Восток'
    else:
        return 'undefined'
df_key['region'] = df_key['keyword'].apply(geo_region)
df_key.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [13]:
df_key['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

In [14]:
df_key['region'].value_counts().head()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64